In [2]:
rows = list(string.ascii_uppercase[:8])
rows

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H']

In [3]:
columns = list(range(1, 13))
columns

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

In [4]:
plate1 = pd.DataFrame('plate1', index=rows, columns=columns)
plate2 = pd.DataFrame('plate2', index=rows, columns=columns)
plate3 = pd.DataFrame('plate3', index=rows, columns=columns)
plate4 = pd.DataFrame('plate4', index=rows, columns=columns)
plate4

,1,2,3,4,5,6,7,8,9,10,11,12
A,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4
B,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4
C,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4
D,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4
E,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4
F,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4
G,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4
H,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4,plate4

In [5]:
plates = OrderedDict([('plate1', plate1), ('plate2', plate2), ('plate3', plate3), ('plate4', plate4)  ])
plates

OrderedDict([('plate1',
                     1       2       3       4       5       6       7       8       9   \
              A  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1
              B  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1
              C  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1
              D  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1
              E  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1
              F  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1
              G  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1
              H  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1  plate1

                     10      11      12
              A  plate1  plate1  plate1
              B  plate1  plate1  plate1
              C  plate1  plate1  plate1
              D  plate1  plate1  plate1
              E  plate1  plate1  plate1
              F  plate1  plate1  plate1
              G  plate1  plate1  plate1
              H  plate1  plate1  plate1  ),
             ('plate2',
                     1       2       3       4       5       6       7       8       9   \
              A  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2
              B  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2
              C  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2
              D  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2
              E  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2
              F  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2
              G  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2
              H  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2  plate2

                     10      11      12
              A  plate2  plate2  plate2
              B  plate2  plate2  plate2
              C  plate2  plate2  plate2
              D  plate2  plate2  plate2
              E  plate2  plate2  plate2
              F  plate2  plate2  plate2
              G  plate2  plate2  plate2
              H  plate2  plate2  plate2  ),
             ('plate3',
                     1       2       3       4       5       6       7       8       9   \
              A  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3
              B  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3
              C  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3
              D  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3
              E  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3
              F  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3
              G  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3
              H  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3  plate3

                     10      11      12
              A  plate3  plate3  plate3
              B  plate3  plate3  plate3
              C  plate3  plate3  plate3
              D  plate3  plate3  plate3
              E  plate3  plate3  plate3
              F  plate3  plate3  plate3
              G  plate3  plate3  plate3
              H  plate3  plate3  plate3  ),
             ('plate4',
                     1       2       3       4       5       6       7       8       9   \
              A  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4
              B  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4
              C  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4
              D  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4
              E  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4
              F  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4
              G  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4
              H  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4  plate4

                     10      11      12
              A  plate4  plate4  plate4
              B  plate4  plate4  plate4
              C  plate4  plate4  plate4
              D  plate4  plate4  plate4
              E  plate4  plate4  plate4
              F  plate4  plate4  plate4
              G  plate4  plate4  plate4
              H  plate4  plate4  plate4  )])

In [6]:
plate1

,1,2,3,4,5,6,7,8,9,10,11,12
A,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1
B,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1
C,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1
D,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1
E,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1
F,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1
G,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1
H,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1,plate1

In [7]:
plate1.unstack().reset_index().head()

   level_0 level_1       0
0        1       A  plate1
1        1       B  plate1
2        1       C  plate1
3        1       D  plate1
4        1       E  plate1

In [8]:
dfs = []

for name, plate in plates.items():
    print(name)
    df = plate.unstack().reset_index()
    dfs.append(df)
tidy_plates = pd.concat(dfs, ignore_index=True)
print(tidy_plates.shape)
tidy_plates.head()

plate1
plate2
plate3
plate4
(384, 3)

   level_0 level_1       0
0        1       A  plate1
1        1       B  plate1
2        1       C  plate1
3        1       D  plate1
4        1       E  plate1

In [9]:
tidy_plates.tail()

     level_0 level_1       0
379       12       D  plate4
380       12       E  plate4
381       12       F  plate4
382       12       G  plate4
383       12       H  plate4

In [10]:
tidy_plates.sample(10)

     level_0 level_1       0
134        5       G  plate2
257        9       B  plate3
168       10       A  plate2
243        7       D  plate3
299        2       D  plate4
351        8       H  plate4
226        5       C  plate3
295        1       H  plate4
183       11       H  plate2
239        6       H  plate3

In [11]:
tidy_plates.head()

   level_0 level_1       0
0        1       A  plate1
1        1       B  plate1
2        1       C  plate1
3        1       D  plate1
4        1       E  plate1

In [12]:
tidy_plates = tidy_plates.rename(columns={'level_0': 'column_number', 'level_1': 'row_letter', 0: 'plate_value'})
tidy_plates['plate_value_letter_number'] = tidy_plates.apply(
    lambda x: '{plate_value}_{row_letter}{column_number:02}'.format(**x), axis=1
)
print(tidy_plates.shape)
tidy_plates.head()

(384, 4)

   column_number row_letter plate_value plate_value_letter_number
0              1          A      plate1                plate1_A01
1              1          B      plate1                plate1_B01
2              1          C      plate1                plate1_C01
3              1          D      plate1                plate1_D01
4              1          E      plate1                plate1_E01

In [13]:
THREE_EIGHTY_FOUR_ROW_LETTERS = list(string.ascii_uppercase[:16])
THREE_EIGHTY_FOUR_ROW_LETTERS

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P']

### Test out the code on a mini dataframe

In [14]:
df = tidy_plates.query("row_letter == 'H' & column_number == 12")
df

     column_number row_letter plate_value plate_value_letter_number
95              12          H      plate1                plate1_H12
191             12          H      plate2                plate2_H12
287             12          H      plate3                plate3_H12
383             12          H      plate4                plate4_H12

In [15]:
df['new_column_number'] = [23, 24, 23, 24]
df['new_row_letter'] = ['O', 'O', 'P', 'P']
df

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

,column_number,row_letter,plate_value,plate_value_letter_number,new_column_number,new_row_letter
95,12,H,plate1,plate1_H12,23,O
191,12,H,plate2,plate2_H12,24,O
287,12,H,plate3,plate3_H12,23,P
383,12,H,plate4,plate4_H12,24,P

In [16]:
df.pivot(index='new_row_letter', columns='new_column_number', values='plate_value')

new_column_number      23      24
new_row_letter
O                  plate1  plate2
P                  plate3  plate4

In [17]:
df.pivot(index='new_row_letter', columns='new_column_number', 
         values='plate_value_letter_number')

new_column_number          23          24
new_row_letter
O                  plate1_H12  plate2_H12
P                  plate3_H12  plate4_H12

### Test out whether it works in a for loop

In [25]:
THREE_EIGHTY_FOUR_N_ROWS = 16
THREE_EIGHTY_FOUR_N_COLUMNS = 24

for (row_letter, column_number), df in tidy_plates.groupby(['row_letter', 'column_number']):
    print(f'\n--- {row_letter}{column_number} ---')

    row_i = string.ascii_uppercase.index(row_letter)
    column_i = column_number * 2 - 1
    
    new_row_letters = string.ascii_uppercase[row_i*2:(row_i*2+2)]
    new_column_numbers = list(range(column_i, column_i+2))
#     print(f"new_row_letters: {new_row_letters}")
#     print(f"new_column_numbers: {new_column_numbers}")
    
    # Concatenate the lists of column numbers to repeat them so the 
    # numbers alternate
    # E.g. turns [1, 2] + [1, 2] --> [1, 2, 1, 2]
    df['new_column_number'] = new_column_numbers + new_column_numbers
#     print(df['new_column_number'])
    
    # Iterate to 4 and divide by 2, force it to be an integer so the 
    # decimal gets removed so we can access the first item twice 
    # and the second item twice
    # e.g. turns [A, B] --> [A, A, B, B]
    df['new_row_letter'] = [new_row_letters[int(i/2)] for i in range(4)]
#     print(df['new_row_letter'])
    print(df)

    # Pivot the data to make sure it worked to create the right "shape"
    pivoted = df.pivot(index='new_row_letter', columns='new_column_number', 
         values='plate_value_letter_number')
    print(pivoted)

--- A1 ---
     column_number row_letter plate_value plate_value_letter_number  \
0                1          A      plate1                plate1_A01
96               1          A      plate2                plate2_A01
192              1          A      plate3                plate3_A01
288              1          A      plate4                plate4_A01

     new_column_number new_row_letter
0                    1              A
96                   2              A
192                  1              B
288                  2              B
new_column_number           1           2
new_row_letter
A                  plate1_A01  plate2_A01
B                  plate3_A01  plate4_A01

--- A2 ---
     column_number row_letter plate_value plate_value_letter_number  \
8                2          A      plate1                plate1_A02
104              2          A      plate2                plate2_A02
200              2          A      plate3                plate3_A02
296              2          A      plate4                plate4_A02

     new_column_number new_row_letter
8                    3              A
104                  4              A
200                  3              B
296                  4              B
new_column_number           3           4
new_row_letter
A                  plate1_A02  plate2_A02
B                  plate3_A02  plate4_A02

--- A3 ---
     column_number row_letter plate_value plate_value_letter_number  \
16               3          A      plate1                plate1_A03
112              3          A      plate2                plate2_A03
208              3          A      plate3                plate3_A03
304              3          A      plate4                plate4_A03

     new_column_number new_row_letter
16                   5              A
112                  6              A
208                  5              B
304                  6              B
new_column_number           5           6
new_row_letter
A                  plate1_A03  plate2_A03
B                  plate3_A03  plate4_A03

--- A4 ---
     column_number row_letter plate_value plate_value_letter_number  \
24               4          A      plate1                plate1_A04
120              4          A      plate2                plate2_A04
216              4          A      plate3                plate3_A04
312              4          A      plate4                plate4_A04

     new_column_number new_row_letter
24                   7              A
120                  8              A
216                  7              B
312                  8              B
new_column_number           7           8
new_row_letter
A                  plate1_A04  plate2_A04
B                  plate3_A04  plate4_A04

--- A5 ---

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

     column_number row_letter plate_value plate_value_letter_number  \
32               5          A      plate1                plate1_A05
128              5          A      plate2                plate2_A05
224              5          A      plate3                plate3_A05
320              5          A      plate4                plate4_A05

     new_column_number new_row_letter
32                   9              A
128                 10              A
224                  9              B
320                 10              B
new_column_number          9           10
new_row_letter
A                  plate1_A05  plate2_A05
B                  plate3_A05  plate4_A05

--- A6 ---
     column_number row_letter plate_value plate_value_letter_number  \
40               6          A      plate1                plate1_A06
136              6          A      plate2                plate2_A06
232              6          A      plate3                plate3_A06
328              6          A      plate4                plate4_A06

     new_column_number new_row_letter
40                  11              A
136                 12              A
232                 11              B
328                 12              B
new_column_number          11          12
new_row_letter
A                  plate1_A06  plate2_A06
B                  plate3_A06  plate4_A06

--- A7 ---
     column_number row_letter plate_value plate_value_letter_number  \
48               7          A      plate1                plate1_A07
144              7          A      plate2                plate2_A07
240              7          A      plate3                plate3_A07
336              7          A      plate4                plate4_A07

     new_column_number new_row_letter
48                  13              A
144                 14              A
240                 13              B
336                 14              B
new_column_number          13          14
new_row_letter
A                  plate1_A07  plate2_A07
B                  plate3_A07  plate4_A07

--- A8 ---
     column_number row_letter plate_value plate_value_letter_number  \
56               8          A      plate1                plate1_A08
152              8          A      plate2                plate2_A08
248              8          A      plate3                plate3_A08
344              8          A      plate4                plate4_A08

     new_column_number new_row_letter
56                  15              A
152                 16              A
248                 15              B
344                 16              B
new_column_number          15          16
new_row_letter
A                  plate1_A08  plate2_A08
B                  plate3_A08  plate4_A08

--- A9 ---
     column_number row_letter plate_value plate_value_letter_number  \
64               9          A      plate1                plate1_A09
160              9          A      plate2                plate2_A09
256              9          A      plate3                plate3_A09
352              9          A      plate4                plate4_A09

     new_column_number new_row_letter
64                  17              A
160                 18              A
256                 17              B
352                 18              B
new_column_number          17          18
new_row_letter
A                  plate1_A09  plate2_A09
B                  plate3_A09  plate4_A09

--- A10 ---
     column_number row_letter plate_value plate_value_letter_number  \
72              10          A      plate1                plate1_A10
168             10          A      plate2                plate2_A10
264             10          A      plate3                plate3_A10
360             10          A      plate4                plate4_A10

     new_column_number new_row_letter
72                  19              A
168                 20              A
264                 19              B
360                 20              B
new_column_number          19          20
new_row_letter
A                  plate1_A10  plate2_A10
B                  plate3_A10  plate4_A10

--- A11 ---
     column_number row_letter plate_value plate_value_letter_number  \
80              11          A      plate1                plate1_A11
176             11          A      plate2                plate2_A11
272             11          A      plate3                plate3_A11
368             11          A      plate4                plate4_A11

     new_column_number new_row_letter
80                  21              A
176                 22              A
272                 21              B
368                 22              B
new_column_number          21          22
new_row_letter
A                  plate1_A11  plate2_A11
B                  plate3_A11  plate4_A11

--- A12 ---
     column_number row_letter plate_value plate_value_letter_number  \
88              12          A      plate1                plate1_A12
184             12          A      plate2                plate2_A12
280             12          A      plate3                plate3_A12
376             12          A      plate4                plate4_A12

     new_column_number new_row_letter
88                  23              A
184                 24              A
280                 23              B
376                 24              B
new_column_number          23          24
new_row_letter
A                  plate1_A12  plate2_A12
B                  plate3_A12  plate4_A12

--- B1 ---
     column_number row_letter plate_value plate_value_letter_number  \
1                1          B      plate1                plate1_B01
97               1          B      plate2                plate2_B01
193              1          B      plate3                plate3_B01
289              1          B      plate4                plate4_B01

     new_column_number new_row_letter
1                    1              C
97                   2              C
193                  1              D
289                  2              D
new_column_number           1           2
new_row_letter
C                  plate1_B01  plate2_B01
D                  plate3_B01  plate4_B01

--- B2 ---
     column_number row_letter plate_value plate_value_letter_number  \
9                2          B      plate1                plate1_B02
105              2          B      plate2                plate2_B02
201              2          B      plate3                plate3_B02
297              2          B      plate4                plate4_B02

     new_column_number new_row_letter
9                    3              C
105                  4              C
201                  3              D
297                  4              D
new_column_number           3           4
new_row_letter
C                  plate1_B02  plate2_B02
D                  plate3_B02  plate4_B02

--- B3 ---
     column_number row_letter plate_value plate_value_letter_number  \
17               3          B      plate1                plate1_B03
113              3          B      plate2                plate2_B03
209              3          B      plate3                plate3_B03
305              3          B      plate4                plate4_B03

     new_column_number new_row_letter
17                   5              C
113                  6              C
209                  5              D
305                  6              D
new_column_number           5           6
new_row_letter
C                  plate1_B03  plate2_B03
D                  plate3_B03  plate4_B03

--- B4 ---
     column_number row_letter plate_value plate_value_letter_number  \
25               4          B      plate1                plate1_B04
121              4          B      plate2                plate2_B04
217              4          B      plate3                plate3_B04
313              4          B      plate4                plate4_B04

     new_column_number new_row_letter
25                   7              C
121                  8              C
217                  7              D
313                  8              D
new_column_number           7           8
new_row_letter
C                  plate1_B04  plate2_B04
D                  plate3_B04  plate4_B04

--- B5 ---
     column_number row_letter plate_value plate_value_letter_number  \
33               5          B      plate1                plate1_B05
129              5          B      plate2                plate2_B05
225              5          B      plate3                plate3_B05
321              5          B      plate4                plate4_B05

     new_column_number new_row_letter
33                   9              C
129                 10              C
225                  9              D
321                 10              D
new_column_number          9           10
new_row_letter
C                  plate1_B05  plate2_B05
D                  plate3_B05  plate4_B05

--- B6 ---
     column_number row_letter plate_value plate_value_letter_number  \
41               6          B      plate1                plate1_B06
137              6          B      plate2                plate2_B06
233              6          B      plate3                plate3_B06
329              6          B      plate4                plate4_B06

     new_column_number new_row_letter
41                  11              C
137                 12              C
233                 11              D
329                 12              D
new_column_number          11          12
new_row_letter
C                  plate1_B06  plate2_B06
D                  plate3_B06  plate4_B06

--- B7 ---
     column_number row_letter plate_value plate_value_letter_number  \
49               7          B      plate1                plate1_B07
145              7          B      plate2                plate2_B07
241              7          B      plate3                plate3_B07
337              7          B      plate4                plate4_B07

     new_column_number new_row_letter
49                  13              C
145                 14              C
241                 13              D
337                 14              D
new_column_number          13          14
new_row_letter
C                  plate1_B07  plate2_B07
D                  plate3_B07  plate4_B07

--- B8 ---
     column_number row_letter plate_value plate_value_letter_number  \
57               8          B      plate1                plate1_B08
153              8          B      plate2                plate2_B08
249              8          B      plate3                plate3_B08
345              8          B      plate4                plate4_B08

     new_column_number new_row_letter
57                  15              C
153                 16              C
249                 15              D
345                 16              D
new_column_number          15          16
new_row_letter
C                  plate1_B08  plate2_B08
D                  plate3_B08  plate4_B08

--- B9 ---

     column_number row_letter plate_value plate_value_letter_number  \
65               9          B      plate1                plate1_B09
161              9          B      plate2                plate2_B09
257              9          B      plate3                plate3_B09
353              9          B      plate4                plate4_B09

     new_column_number new_row_letter
65                  17              C
161                 18              C
257                 17              D
353                 18              D
new_column_number          17          18
new_row_letter
C                  plate1_B09  plate2_B09
D                  plate3_B09  plate4_B09

--- B10 ---
     column_number row_letter plate_value plate_value_letter_number  \
73              10          B      plate1                plate1_B10
169             10          B      plate2                plate2_B10
265             10          B      plate3                plate3_B10
361             10          B      plate4                plate4_B10

     new_column_number new_row_letter
73                  19              C
169                 20              C
265                 19              D
361                 20              D
new_column_number          19          20
new_row_letter
C                  plate1_B10  plate2_B10
D                  plate3_B10  plate4_B10

--- B11 ---
     column_number row_letter plate_value plate_value_letter_number  \
81              11          B      plate1                plate1_B11
177             11          B      plate2                plate2_B11
273             11          B      plate3                plate3_B11
369             11          B      plate4                plate4_B11

     new_column_number new_row_letter
81                  21              C
177                 22              C
273                 21              D
369                 22              D
new_column_number          21          22
new_row_letter
C                  plate1_B11  plate2_B11
D                  plate3_B11  plate4_B11

--- B12 ---
     column_number row_letter plate_value plate_value_letter_number  \
89              12          B      plate1                plate1_B12
185             12          B      plate2                plate2_B12
281             12          B      plate3                plate3_B12
377             12          B      plate4                plate4_B12

     new_column_number new_row_letter
89                  23              C
185                 24              C
281                 23              D
377                 24              D
new_column_number          23          24
new_row_letter
C                  plate1_B12  plate2_B12
D                  plate3_B12  plate4_B12

--- C1 ---
     column_number row_letter plate_value plate_value_letter_number  \
2                1          C      plate1                plate1_C01
98               1          C      plate2                plate2_C01
194              1          C      plate3                plate3_C01
290              1          C      plate4                plate4_C01

     new_column_number new_row_letter
2                    1              E
98                   2              E
194                  1              F
290                  2              F
new_column_number           1           2
new_row_letter
E                  plate1_C01  plate2_C01
F                  plate3_C01  plate4_C01

--- C2 ---
     column_number row_letter plate_value plate_value_letter_number  \
10               2          C      plate1                plate1_C02
106              2          C      plate2                plate2_C02
202              2          C      plate3                plate3_C02
298              2          C      plate4                plate4_C02

     new_column_number new_row_letter
10                   3              E
106                  4              E
202                  3              F
298                  4              F
new_column_number           3           4
new_row_letter
E                  plate1_C02  plate2_C02
F                  plate3_C02  plate4_C02

--- C3 ---
     column_number row_letter plate_value plate_value_letter_number  \
18               3          C      plate1                plate1_C03
114              3          C      plate2                plate2_C03
210              3          C      plate3                plate3_C03
306              3          C      plate4                plate4_C03

     new_column_number new_row_letter
18                   5              E
114                  6              E
210                  5              F
306                  6              F
new_column_number           5           6
new_row_letter
E                  plate1_C03  plate2_C03
F                  plate3_C03  plate4_C03

--- C4 ---
     column_number row_letter plate_value plate_value_letter_number  \
26               4          C      plate1                plate1_C04
122              4          C      plate2                plate2_C04
218              4          C      plate3                plate3_C04
314              4          C      plate4                plate4_C04

     new_column_number new_row_letter
26                   7              E
122                  8              E
218                  7              F
314                  8              F
new_column_number           7           8
new_row_letter
E                  plate1_C04  plate2_C04
F                  plate3_C04  plate4_C04

--- C5 ---
     column_number row_letter plate_value plate_value_letter_number  \
34               5          C      plate1                plate1_C05
130              5          C      plate2                plate2_C05
226              5          C      plate3                plate3_C05
322              5          C      plate4                plate4_C05

     new_column_number new_row_letter
34                   9              E
130                 10              E
226                  9              F
322                 10              F
new_column_number          9           10
new_row_letter
E                  plate1_C05  plate2_C05
F                  plate3_C05  plate4_C05

--- C6 ---
     column_number row_letter plate_value plate_value_letter_number  \
42               6          C      plate1                plate1_C06
138              6          C      plate2                plate2_C06
234              6          C      plate3                plate3_C06
330              6          C      plate4                plate4_C06

     new_column_number new_row_letter
42                  11              E
138                 12              E
234                 11              F
330                 12              F
new_column_number          11          12
new_row_letter
E                  plate1_C06  plate2_C06
F                  plate3_C06  plate4_C06

--- C7 ---
     column_number row_letter plate_value plate_value_letter_number  \
50               7          C      plate1                plate1_C07
146              7          C      plate2                plate2_C07
242              7          C      plate3                plate3_C07
338              7          C      plate4                plate4_C07

     new_column_number new_row_letter
50                  13              E
146                 14              E
242                 13              F
338                 14              F
new_column_number          13          14
new_row_letter
E                  plate1_C07  plate2_C07
F                  plate3_C07  plate4_C07

--- C8 ---
     column_number row_letter plate_value plate_value_letter_number  \
58               8          C      plate1                plate1_C08
154              8          C      plate2                plate2_C08
250              8          C      plate3                plate3_C08
346              8          C      plate4                plate4_C08

     new_column_number new_row_letter
58                  15              E
154                 16              E
250                 15              F
346                 16              F
new_column_number          15          16
new_row_letter
E                  plate1_C08  plate2_C08
F                  plate3_C08  plate4_C08

--- C9 ---
     column_number row_letter plate_value plate_value_letter_number  \
66               9          C      plate1                plate1_C09
162              9          C      plate2                plate2_C09
258              9          C      plate3                plate3_C09
354              9          C      plate4                plate4_C09

     new_column_number new_row_letter
66                  17              E
162                 18              E
258                 17              F
354                 18              F
new_column_number          17          18
new_row_letter
E                  plate1_C09  plate2_C09
F                  plate3_C09  plate4_C09

--- C10 ---
     column_number row_letter plate_value plate_value_letter_number  \
74              10          C      plate1                plate1_C10
170             10          C      plate2                plate2_C10
266             10          C      plate3                plate3_C10
362             10          C      plate4                plate4_C10

     new_column_number new_row_letter
74                  19              E
170                 20              E
266                 19              F
362                 20              F
new_column_number          19          20
new_row_letter
E                  plate1_C10  plate2_C10
F                  plate3_C10  plate4_C10

--- C11 ---
     column_number row_letter plate_value plate_value_letter_number  \
82              11          C      plate1                plate1_C11
178             11          C      plate2                plate2_C11
274             11          C      plate3                plate3_C11
370             11          C      plate4                plate4_C11

     new_column_number new_row_letter
82                  21              E
178                 22              E
274                 21              F
370                 22              F
new_column_number          21          22
new_row_letter
E                  plate1_C11  plate2_C11
F                  plate3_C11  plate4_C11

--- C12 ---
     column_number row_letter plate_value plate_value_letter_number  \
90              12          C      plate1                plate1_C12
186             12          C      plate2                plate2_C12
282             12          C      plate3                plate3_C12
378             12          C      plate4                plate4_C12

     new_column_number new_row_letter
90                  23              E
186                 24              E
282                 23              F
378                 24              F
new_column_number          23          24
new_row_letter
E                  plate1_C12  plate2_C12
F                  plate3_C12  plate4_C12

--- D1 ---
     column_number row_letter plate_value plate_value_letter_number  \
3                1          D      plate1                plate1_D01
99               1          D      plate2                plate2_D01
195              1          D      plate3                plate3_D01
291              1          D      plate4                plate4_D01

     new_column_number new_row_letter
3                    1              G
99                   2              G
195                  1              H
291                  2              H
new_column_number           1           2
new_row_letter
G                  plate1_D01  plate2_D01
H                  plate3_D01  plate4_D01

--- D2 ---

     column_number row_letter plate_value plate_value_letter_number  \
11               2          D      plate1                plate1_D02
107              2          D      plate2                plate2_D02
203              2          D      plate3                plate3_D02
299              2          D      plate4                plate4_D02

     new_column_number new_row_letter
11                   3              G
107                  4              G
203                  3              H
299                  4              H
new_column_number           3           4
new_row_letter
G                  plate1_D02  plate2_D02
H                  plate3_D02  plate4_D02

--- D3 ---
     column_number row_letter plate_value plate_value_letter_number  \
19               3          D      plate1                plate1_D03
115              3          D      plate2                plate2_D03
211              3          D      plate3                plate3_D03
307              3          D      plate4                plate4_D03

     new_column_number new_row_letter
19                   5              G
115                  6              G
211                  5              H
307                  6              H
new_column_number           5           6
new_row_letter
G                  plate1_D03  plate2_D03
H                  plate3_D03  plate4_D03

--- D4 ---
     column_number row_letter plate_value plate_value_letter_number  \
27               4          D      plate1                plate1_D04
123              4          D      plate2                plate2_D04
219              4          D      plate3                plate3_D04
315              4          D      plate4                plate4_D04

     new_column_number new_row_letter
27                   7              G
123                  8              G
219                  7              H
315                  8              H
new_column_number           7           8
new_row_letter
G                  plate1_D04  plate2_D04
H                  plate3_D04  plate4_D04

--- D5 ---
     column_number row_letter plate_value plate_value_letter_number  \
35               5          D      plate1                plate1_D05
131              5          D      plate2                plate2_D05
227              5          D      plate3                plate3_D05
323              5          D      plate4                plate4_D05

     new_column_number new_row_letter
35                   9              G
131                 10              G
227                  9              H
323                 10              H
new_column_number          9           10
new_row_letter
G                  plate1_D05  plate2_D05
H                  plate3_D05  plate4_D05

--- D6 ---
     column_number row_letter plate_value plate_value_letter_number  \
43               6          D      plate1                plate1_D06
139              6          D      plate2                plate2_D06
235              6          D      plate3                plate3_D06
331              6          D      plate4                plate4_D06

     new_column_number new_row_letter
43                  11              G
139                 12              G
235                 11              H
331                 12              H
new_column_number          11          12
new_row_letter
G                  plate1_D06  plate2_D06
H                  plate3_D06  plate4_D06

--- D7 ---
     column_number row_letter plate_value plate_value_letter_number  \
51               7          D      plate1                plate1_D07
147              7          D      plate2                plate2_D07
243              7          D      plate3                plate3_D07
339              7          D      plate4                plate4_D07

     new_column_number new_row_letter
51                  13              G
147                 14              G
243                 13              H
339                 14              H
new_column_number          13          14
new_row_letter
G                  plate1_D07  plate2_D07
H                  plate3_D07  plate4_D07

--- D8 ---
     column_number row_letter plate_value plate_value_letter_number  \
59               8          D      plate1                plate1_D08
155              8          D      plate2                plate2_D08
251              8          D      plate3                plate3_D08
347              8          D      plate4                plate4_D08

     new_column_number new_row_letter
59                  15              G
155                 16              G
251                 15              H
347                 16              H
new_column_number          15          16
new_row_letter
G                  plate1_D08  plate2_D08
H                  plate3_D08  plate4_D08

--- D9 ---
     column_number row_letter plate_value plate_value_letter_number  \
67               9          D      plate1                plate1_D09
163              9          D      plate2                plate2_D09
259              9          D      plate3                plate3_D09
355              9          D      plate4                plate4_D09

     new_column_number new_row_letter
67                  17              G
163                 18              G
259                 17              H
355                 18              H
new_column_number          17          18
new_row_letter
G                  plate1_D09  plate2_D09
H                  plate3_D09  plate4_D09

--- D10 ---
     column_number row_letter plate_value plate_value_letter_number  \
75              10          D      plate1                plate1_D10
171             10          D      plate2                plate2_D10
267             10          D      plate3                plate3_D10
363             10          D      plate4                plate4_D10

     new_column_number new_row_letter
75                  19              G
171                 20              G
267                 19              H
363                 20              H
new_column_number          19          20
new_row_letter
G                  plate1_D10  plate2_D10
H                  plate3_D10  plate4_D10

--- D11 ---
     column_number row_letter plate_value plate_value_letter_number  \
83              11          D      plate1                plate1_D11
179             11          D      plate2                plate2_D11
275             11          D      plate3                plate3_D11
371             11          D      plate4                plate4_D11

     new_column_number new_row_letter
83                  21              G
179                 22              G
275                 21              H
371                 22              H
new_column_number          21          22
new_row_letter
G                  plate1_D11  plate2_D11
H                  plate3_D11  plate4_D11

--- D12 ---
     column_number row_letter plate_value plate_value_letter_number  \
91              12          D      plate1                plate1_D12
187             12          D      plate2                plate2_D12
283             12          D      plate3                plate3_D12
379             12          D      plate4                plate4_D12

     new_column_number new_row_letter
91                  23              G
187                 24              G
283                 23              H
379                 24              H
new_column_number          23          24
new_row_letter
G                  plate1_D12  plate2_D12
H                  plate3_D12  plate4_D12

--- E1 ---
     column_number row_letter plate_value plate_value_letter_number  \
4                1          E      plate1                plate1_E01
100              1          E      plate2                plate2_E01
196              1          E      plate3                plate3_E01
292              1          E      plate4                plate4_E01

     new_column_number new_row_letter
4                    1              I
100                  2              I
196                  1              J
292                  2              J
new_column_number           1           2
new_row_letter
I                  plate1_E01  plate2_E01
J                  plate3_E01  plate4_E01

--- E2 ---
     column_number row_letter plate_value plate_value_letter_number  \
12               2          E      plate1                plate1_E02
108              2          E      plate2                plate2_E02
204              2          E      plate3                plate3_E02
300              2          E      plate4                plate4_E02

     new_column_number new_row_letter
12                   3              I
108                  4              I
204                  3              J
300                  4              J
new_column_number           3           4
new_row_letter
I                  plate1_E02  plate2_E02
J                  plate3_E02  plate4_E02

--- E3 ---
     column_number row_letter plate_value plate_value_letter_number  \
20               3          E      plate1                plate1_E03
116              3          E      plate2                plate2_E03
212              3          E      plate3                plate3_E03
308              3          E      plate4                plate4_E03

     new_column_number new_row_letter
20                   5              I
116                  6              I
212                  5              J
308                  6              J
new_column_number           5           6
new_row_letter
I                  plate1_E03  plate2_E03
J                  plate3_E03  plate4_E03

--- E4 ---
     column_number row_letter plate_value plate_value_letter_number  \
28               4          E      plate1                plate1_E04
124              4          E      plate2                plate2_E04
220              4          E      plate3                plate3_E04
316              4          E      plate4                plate4_E04

     new_column_number new_row_letter
28                   7              I
124                  8              I
220                  7              J
316                  8              J
new_column_number           7           8
new_row_letter
I                  plate1_E04  plate2_E04
J                  plate3_E04  plate4_E04

--- E5 ---
     column_number row_letter plate_value plate_value_letter_number  \
36               5          E      plate1                plate1_E05
132              5          E      plate2                plate2_E05
228              5          E      plate3                plate3_E05
324              5          E      plate4                plate4_E05

     new_column_number new_row_letter
36                   9              I
132                 10              I
228                  9              J
324                 10              J
new_column_number          9           10
new_row_letter
I                  plate1_E05  plate2_E05
J                  plate3_E05  plate4_E05

--- E6 ---
     column_number row_letter plate_value plate_value_letter_number  \
44               6          E      plate1                plate1_E06
140              6          E      plate2                plate2_E06
236              6          E      plate3                plate3_E06
332              6          E      plate4                plate4_E06

     new_column_number new_row_letter
44                  11              I
140                 12              I
236                 11              J
332                 12              J
new_column_number          11          12
new_row_letter
I                  plate1_E06  plate2_E06
J                  plate3_E06  plate4_E06

--- E7 ---

     column_number row_letter plate_value plate_value_letter_number  \
52               7          E      plate1                plate1_E07
148              7          E      plate2                plate2_E07
244              7          E      plate3                plate3_E07
340              7          E      plate4                plate4_E07

     new_column_number new_row_letter
52                  13              I
148                 14              I
244                 13              J
340                 14              J
new_column_number          13          14
new_row_letter
I                  plate1_E07  plate2_E07
J                  plate3_E07  plate4_E07

--- E8 ---
     column_number row_letter plate_value plate_value_letter_number  \
60               8          E      plate1                plate1_E08
156              8          E      plate2                plate2_E08
252              8          E      plate3                plate3_E08
348              8          E      plate4                plate4_E08

     new_column_number new_row_letter
60                  15              I
156                 16              I
252                 15              J
348                 16              J
new_column_number          15          16
new_row_letter
I                  plate1_E08  plate2_E08
J                  plate3_E08  plate4_E08

--- E9 ---
     column_number row_letter plate_value plate_value_letter_number  \
68               9          E      plate1                plate1_E09
164              9          E      plate2                plate2_E09
260              9          E      plate3                plate3_E09
356              9          E      plate4                plate4_E09

     new_column_number new_row_letter
68                  17              I
164                 18              I
260                 17              J
356                 18              J
new_column_number          17          18
new_row_letter
I                  plate1_E09  plate2_E09
J                  plate3_E09  plate4_E09

--- E10 ---
     column_number row_letter plate_value plate_value_letter_number  \
76              10          E      plate1                plate1_E10
172             10          E      plate2                plate2_E10
268             10          E      plate3                plate3_E10
364             10          E      plate4                plate4_E10

     new_column_number new_row_letter
76                  19              I
172                 20              I
268                 19              J
364                 20              J
new_column_number          19          20
new_row_letter
I                  plate1_E10  plate2_E10
J                  plate3_E10  plate4_E10

--- E11 ---
     column_number row_letter plate_value plate_value_letter_number  \
84              11          E      plate1                plate1_E11
180             11          E      plate2                plate2_E11
276             11          E      plate3                plate3_E11
372             11          E      plate4                plate4_E11

     new_column_number new_row_letter
84                  21              I
180                 22              I
276                 21              J
372                 22              J
new_column_number          21          22
new_row_letter
I                  plate1_E11  plate2_E11
J                  plate3_E11  plate4_E11

--- E12 ---
     column_number row_letter plate_value plate_value_letter_number  \
92              12          E      plate1                plate1_E12
188             12          E      plate2                plate2_E12
284             12          E      plate3                plate3_E12
380             12          E      plate4                plate4_E12

     new_column_number new_row_letter
92                  23              I
188                 24              I
284                 23              J
380                 24              J
new_column_number          23          24
new_row_letter
I                  plate1_E12  plate2_E12
J                  plate3_E12  plate4_E12

--- F1 ---
     column_number row_letter plate_value plate_value_letter_number  \
5                1          F      plate1                plate1_F01
101              1          F      plate2                plate2_F01
197              1          F      plate3                plate3_F01
293              1          F      plate4                plate4_F01

     new_column_number new_row_letter
5                    1              K
101                  2              K
197                  1              L
293                  2              L
new_column_number           1           2
new_row_letter
K                  plate1_F01  plate2_F01
L                  plate3_F01  plate4_F01

--- F2 ---
     column_number row_letter plate_value plate_value_letter_number  \
13               2          F      plate1                plate1_F02
109              2          F      plate2                plate2_F02
205              2          F      plate3                plate3_F02
301              2          F      plate4                plate4_F02

     new_column_number new_row_letter
13                   3              K
109                  4              K
205                  3              L
301                  4              L
new_column_number           3           4
new_row_letter
K                  plate1_F02  plate2_F02
L                  plate3_F02  plate4_F02

--- F3 ---
     column_number row_letter plate_value plate_value_letter_number  \
21               3          F      plate1                plate1_F03
117              3          F      plate2                plate2_F03
213              3          F      plate3                plate3_F03
309              3          F      plate4                plate4_F03

     new_column_number new_row_letter
21                   5              K
117                  6              K
213                  5              L
309                  6              L
new_column_number           5           6
new_row_letter
K                  plate1_F03  plate2_F03
L                  plate3_F03  plate4_F03

--- F4 ---
     column_number row_letter plate_value plate_value_letter_number  \
29               4          F      plate1                plate1_F04
125              4          F      plate2                plate2_F04
221              4          F      plate3                plate3_F04
317              4          F      plate4                plate4_F04

     new_column_number new_row_letter
29                   7              K
125                  8              K
221                  7              L
317                  8              L
new_column_number           7           8
new_row_letter
K                  plate1_F04  plate2_F04
L                  plate3_F04  plate4_F04

--- F5 ---
     column_number row_letter plate_value plate_value_letter_number  \
37               5          F      plate1                plate1_F05
133              5          F      plate2                plate2_F05
229              5          F      plate3                plate3_F05
325              5          F      plate4                plate4_F05

     new_column_number new_row_letter
37                   9              K
133                 10              K
229                  9              L
325                 10              L
new_column_number          9           10
new_row_letter
K                  plate1_F05  plate2_F05
L                  plate3_F05  plate4_F05

--- F6 ---
     column_number row_letter plate_value plate_value_letter_number  \
45               6          F      plate1                plate1_F06
141              6          F      plate2                plate2_F06
237              6          F      plate3                plate3_F06
333              6          F      plate4                plate4_F06

     new_column_number new_row_letter
45                  11              K
141                 12              K
237                 11              L
333                 12              L
new_column_number          11          12
new_row_letter
K                  plate1_F06  plate2_F06
L                  plate3_F06  plate4_F06

--- F7 ---
     column_number row_letter plate_value plate_value_letter_number  \
53               7          F      plate1                plate1_F07
149              7          F      plate2                plate2_F07
245              7          F      plate3                plate3_F07
341              7          F      plate4                plate4_F07

     new_column_number new_row_letter
53                  13              K
149                 14              K
245                 13              L
341                 14              L
new_column_number          13          14
new_row_letter
K                  plate1_F07  plate2_F07
L                  plate3_F07  plate4_F07

--- F8 ---
     column_number row_letter plate_value plate_value_letter_number  \
61               8          F      plate1                plate1_F08
157              8          F      plate2                plate2_F08
253              8          F      plate3                plate3_F08
349              8          F      plate4                plate4_F08

     new_column_number new_row_letter
61                  15              K
157                 16              K
253                 15              L
349                 16              L
new_column_number          15          16
new_row_letter
K                  plate1_F08  plate2_F08
L                  plate3_F08  plate4_F08

--- F9 ---
     column_number row_letter plate_value plate_value_letter_number  \
69               9          F      plate1                plate1_F09
165              9          F      plate2                plate2_F09
261              9          F      plate3                plate3_F09
357              9          F      plate4                plate4_F09

     new_column_number new_row_letter
69                  17              K
165                 18              K
261                 17              L
357                 18              L
new_column_number          17          18
new_row_letter
K                  plate1_F09  plate2_F09
L                  plate3_F09  plate4_F09

--- F10 ---
     column_number row_letter plate_value plate_value_letter_number  \
77              10          F      plate1                plate1_F10
173             10          F      plate2                plate2_F10
269             10          F      plate3                plate3_F10
365             10          F      plate4                plate4_F10

     new_column_number new_row_letter
77                  19              K
173                 20              K
269                 19              L
365                 20              L
new_column_number          19          20
new_row_letter
K                  plate1_F10  plate2_F10
L                  plate3_F10  plate4_F10

--- F11 ---

     column_number row_letter plate_value plate_value_letter_number  \
85              11          F      plate1                plate1_F11
181             11          F      plate2                plate2_F11
277             11          F      plate3                plate3_F11
373             11          F      plate4                plate4_F11

     new_column_number new_row_letter
85                  21              K
181                 22              K
277                 21              L
373                 22              L
new_column_number          21          22
new_row_letter
K                  plate1_F11  plate2_F11
L                  plate3_F11  plate4_F11

--- F12 ---
     column_number row_letter plate_value plate_value_letter_number  \
93              12          F      plate1                plate1_F12
189             12          F      plate2                plate2_F12
285             12          F      plate3                plate3_F12
381             12          F      plate4                plate4_F12

     new_column_number new_row_letter
93                  23              K
189                 24              K
285                 23              L
381                 24              L
new_column_number          23          24
new_row_letter
K                  plate1_F12  plate2_F12
L                  plate3_F12  plate4_F12

--- G1 ---
     column_number row_letter plate_value plate_value_letter_number  \
6                1          G      plate1                plate1_G01
102              1          G      plate2                plate2_G01
198              1          G      plate3                plate3_G01
294              1          G      plate4                plate4_G01

     new_column_number new_row_letter
6                    1              M
102                  2              M
198                  1              N
294                  2              N
new_column_number           1           2
new_row_letter
M                  plate1_G01  plate2_G01
N                  plate3_G01  plate4_G01

--- G2 ---
     column_number row_letter plate_value plate_value_letter_number  \
14               2          G      plate1                plate1_G02
110              2          G      plate2                plate2_G02
206              2          G      plate3                plate3_G02
302              2          G      plate4                plate4_G02

     new_column_number new_row_letter
14                   3              M
110                  4              M
206                  3              N
302                  4              N
new_column_number           3           4
new_row_letter
M                  plate1_G02  plate2_G02
N                  plate3_G02  plate4_G02

--- G3 ---
     column_number row_letter plate_value plate_value_letter_number  \
22               3          G      plate1                plate1_G03
118              3          G      plate2                plate2_G03
214              3          G      plate3                plate3_G03
310              3          G      plate4                plate4_G03

     new_column_number new_row_letter
22                   5              M
118                  6              M
214                  5              N
310                  6              N
new_column_number           5           6
new_row_letter
M                  plate1_G03  plate2_G03
N                  plate3_G03  plate4_G03

--- G4 ---
     column_number row_letter plate_value plate_value_letter_number  \
30               4          G      plate1                plate1_G04
126              4          G      plate2                plate2_G04
222              4          G      plate3                plate3_G04
318              4          G      plate4                plate4_G04

     new_column_number new_row_letter
30                   7              M
126                  8              M
222                  7              N
318                  8              N
new_column_number           7           8
new_row_letter
M                  plate1_G04  plate2_G04
N                  plate3_G04  plate4_G04

--- G5 ---
     column_number row_letter plate_value plate_value_letter_number  \
38               5          G      plate1                plate1_G05
134              5          G      plate2                plate2_G05
230              5          G      plate3                plate3_G05
326              5          G      plate4                plate4_G05

     new_column_number new_row_letter
38                   9              M
134                 10              M
230                  9              N
326                 10              N
new_column_number          9           10
new_row_letter
M                  plate1_G05  plate2_G05
N                  plate3_G05  plate4_G05

--- G6 ---
     column_number row_letter plate_value plate_value_letter_number  \
46               6          G      plate1                plate1_G06
142              6          G      plate2                plate2_G06
238              6          G      plate3                plate3_G06
334              6          G      plate4                plate4_G06

     new_column_number new_row_letter
46                  11              M
142                 12              M
238                 11              N
334                 12              N
new_column_number          11          12
new_row_letter
M                  plate1_G06  plate2_G06
N                  plate3_G06  plate4_G06

--- G7 ---
     column_number row_letter plate_value plate_value_letter_number  \
54               7          G      plate1                plate1_G07
150              7          G      plate2                plate2_G07
246              7          G      plate3                plate3_G07
342              7          G      plate4                plate4_G07

     new_column_number new_row_letter
54                  13              M
150                 14              M
246                 13              N
342                 14              N
new_column_number          13          14
new_row_letter
M                  plate1_G07  plate2_G07
N                  plate3_G07  plate4_G07

--- G8 ---
     column_number row_letter plate_value plate_value_letter_number  \
62               8          G      plate1                plate1_G08
158              8          G      plate2                plate2_G08
254              8          G      plate3                plate3_G08
350              8          G      plate4                plate4_G08

     new_column_number new_row_letter
62                  15              M
158                 16              M
254                 15              N
350                 16              N
new_column_number          15          16
new_row_letter
M                  plate1_G08  plate2_G08
N                  plate3_G08  plate4_G08

--- G9 ---
     column_number row_letter plate_value plate_value_letter_number  \
70               9          G      plate1                plate1_G09
166              9          G      plate2                plate2_G09
262              9          G      plate3                plate3_G09
358              9          G      plate4                plate4_G09

     new_column_number new_row_letter
70                  17              M
166                 18              M
262                 17              N
358                 18              N
new_column_number          17          18
new_row_letter
M                  plate1_G09  plate2_G09
N                  plate3_G09  plate4_G09

--- G10 ---
     column_number row_letter plate_value plate_value_letter_number  \
78              10          G      plate1                plate1_G10
174             10          G      plate2                plate2_G10
270             10          G      plate3                plate3_G10
366             10          G      plate4                plate4_G10

     new_column_number new_row_letter
78                  19              M
174                 20              M
270                 19              N
366                 20              N
new_column_number          19          20
new_row_letter
M                  plate1_G10  plate2_G10
N                  plate3_G10  plate4_G10

--- G11 ---
     column_number row_letter plate_value plate_value_letter_number  \
86              11          G      plate1                plate1_G11
182             11          G      plate2                plate2_G11
278             11          G      plate3                plate3_G11
374             11          G      plate4                plate4_G11

     new_column_number new_row_letter
86                  21              M
182                 22              M
278                 21              N
374                 22              N
new_column_number          21          22
new_row_letter
M                  plate1_G11  plate2_G11
N                  plate3_G11  plate4_G11

--- G12 ---
     column_number row_letter plate_value plate_value_letter_number  \
94              12          G      plate1                plate1_G12
190             12          G      plate2                plate2_G12
286             12          G      plate3                plate3_G12
382             12          G      plate4                plate4_G12

     new_column_number new_row_letter
94                  23              M
190                 24              M
286                 23              N
382                 24              N
new_column_number          23          24
new_row_letter
M                  plate1_G12  plate2_G12
N                  plate3_G12  plate4_G12

--- H1 ---

     column_number row_letter plate_value plate_value_letter_number  \
7                1          H      plate1                plate1_H01
103              1          H      plate2                plate2_H01
199              1          H      plate3                plate3_H01
295              1          H      plate4                plate4_H01

     new_column_number new_row_letter
7                    1              O
103                  2              O
199                  1              P
295                  2              P
new_column_number           1           2
new_row_letter
O                  plate1_H01  plate2_H01
P                  plate3_H01  plate4_H01

--- H2 ---
     column_number row_letter plate_value plate_value_letter_number  \
15               2          H      plate1                plate1_H02
111              2          H      plate2                plate2_H02
207              2          H      plate3                plate3_H02
303              2          H      plate4                plate4_H02

     new_column_number new_row_letter
15                   3              O
111                  4              O
207                  3              P
303                  4              P
new_column_number           3           4
new_row_letter
O                  plate1_H02  plate2_H02
P                  plate3_H02  plate4_H02

--- H3 ---
     column_number row_letter plate_value plate_value_letter_number  \
23               3          H      plate1                plate1_H03
119              3          H      plate2                plate2_H03
215              3          H      plate3                plate3_H03
311              3          H      plate4                plate4_H03

     new_column_number new_row_letter
23                   5              O
119                  6              O
215                  5              P
311                  6              P
new_column_number           5           6
new_row_letter
O                  plate1_H03  plate2_H03
P                  plate3_H03  plate4_H03

--- H4 ---
     column_number row_letter plate_value plate_value_letter_number  \
31               4          H      plate1                plate1_H04
127              4          H      plate2                plate2_H04
223              4          H      plate3                plate3_H04
319              4          H      plate4                plate4_H04

     new_column_number new_row_letter
31                   7              O
127                  8              O
223                  7              P
319                  8              P
new_column_number           7           8
new_row_letter
O                  plate1_H04  plate2_H04
P                  plate3_H04  plate4_H04

--- H5 ---
     column_number row_letter plate_value plate_value_letter_number  \
39               5          H      plate1                plate1_H05
135              5          H      plate2                plate2_H05
231              5          H      plate3                plate3_H05
327              5          H      plate4                plate4_H05

     new_column_number new_row_letter
39                   9              O
135                 10              O
231                  9              P
327                 10              P
new_column_number          9           10
new_row_letter
O                  plate1_H05  plate2_H05
P                  plate3_H05  plate4_H05

--- H6 ---
     column_number row_letter plate_value plate_value_letter_number  \
47               6          H      plate1                plate1_H06
143              6          H      plate2                plate2_H06
239              6          H      plate3                plate3_H06
335              6          H      plate4                plate4_H06

     new_column_number new_row_letter
47                  11              O
143                 12              O
239                 11              P
335                 12              P
new_column_number          11          12
new_row_letter
O                  plate1_H06  plate2_H06
P                  plate3_H06  plate4_H06

--- H7 ---
     column_number row_letter plate_value plate_value_letter_number  \
55               7          H      plate1                plate1_H07
151              7          H      plate2                plate2_H07
247              7          H      plate3                plate3_H07
343              7          H      plate4                plate4_H07

     new_column_number new_row_letter
55                  13              O
151                 14              O
247                 13              P
343                 14              P
new_column_number          13          14
new_row_letter
O                  plate1_H07  plate2_H07
P                  plate3_H07  plate4_H07

--- H8 ---
     column_number row_letter plate_value plate_value_letter_number  \
63               8          H      plate1                plate1_H08
159              8          H      plate2                plate2_H08
255              8          H      plate3                plate3_H08
351              8          H      plate4                plate4_H08

     new_column_number new_row_letter
63                  15              O
159                 16              O
255                 15              P
351                 16              P
new_column_number          15          16
new_row_letter
O                  plate1_H08  plate2_H08
P                  plate3_H08  plate4_H08

--- H9 ---
     column_number row_letter plate_value plate_value_letter_number  \
71               9          H      plate1                plate1_H09
167              9          H      plate2                plate2_H09
263              9          H      plate3                plate3_H09
359              9          H      plate4                plate4_H09

     new_column_number new_row_letter
71                  17              O
167                 18              O
263                 17              P
359                 18              P
new_column_number          17          18
new_row_letter
O                  plate1_H09  plate2_H09
P                  plate3_H09  plate4_H09

--- H10 ---
     column_number row_letter plate_value plate_value_letter_number  \
79              10          H      plate1                plate1_H10
175             10          H      plate2                plate2_H10
271             10          H      plate3                plate3_H10
367             10          H      plate4                plate4_H10

     new_column_number new_row_letter
79                  19              O
175                 20              O
271                 19              P
367                 20              P
new_column_number          19          20
new_row_letter
O                  plate1_H10  plate2_H10
P                  plate3_H10  plate4_H10

--- H11 ---
     column_number row_letter plate_value plate_value_letter_number  \
87              11          H      plate1                plate1_H11
183             11          H      plate2                plate2_H11
279             11          H      plate3                plate3_H11
375             11          H      plate4                plate4_H11

     new_column_number new_row_letter
87                  21              O
183                 22              O
279                 21              P
375                 22              P
new_column_number          21          22
new_row_letter
O                  plate1_H11  plate2_H11
P                  plate3_H11  plate4_H11

--- H12 ---
     column_number row_letter plate_value plate_value_letter_number  \
95              12          H      plate1                plate1_H12
191             12          H      plate2                plate2_H12
287             12          H      plate3                plate3_H12
383             12          H      plate4                plate4_H12

     new_column_number new_row_letter
95                  23              O
191                 24              O
287                 23              P
383                 24              P
new_column_number          23          24
new_row_letter
O                  plate1_H12  plate2_H12
P                  plate3_H12  plate4_H12

### Write out a separate function to add these columns to the `tidy_plates` dataframe

Sort the plates by row letter and column number so the reassignment happens in the proper order

In [82]:
tidy_plates = tidy_plates.sort_values(['row_letter', 'column_number'])
tidy_plates.head()

,column_number,row_letter,plate_value,plate_value_letter_number,three_eighty_four_row_letter,three_eighty_four_column_number
0,1,A,plate1,plate1_A01,A,1
96,1,A,plate2,plate2_A01,E,1
192,1,A,plate3,plate3_A01,I,1
288,1,A,plate4,plate4_A01,M,1
8,2,A,plate1,plate1_A02,A,5

Assign the grouped dataframe to its own variable for safekeeping and reducing typing (which causes typos) later

In [83]:
grouped = tidy_plates.groupby(['row_letter', 'column_number'], 
                              group_keys=False)
grouped

We can check the number of items in each one to make sure the groups got formed properly

In [84]:
grouped.size()

row_letter  column_number
A           1                4
            2                4
            3                4
            4                4
            5                4
            6                4
            7                4
            8                4
            9                4
            10               4
            11               4
            12               4
B           1                4
            2                4
            3                4
            4                4
            5                4
            6                4
            7                4
            8                4
            9                4
            10               4
            11               4
            12               4
C           1                4
            2                4
            3                4
            4                4
            5                4
            6                4
                            ..
F           7                4
            8                4
            9                4
            10               4
            11               4
            12               4
G           1                4
            2                4
            3                4
            4                4
            5                4
            6                4
            7                4
            8                4
            9                4
            10               4
            11               4
            12               4
H           1                4
            2                4
            3                4
            4                4
            5                4
            6                4
            7                4
            8                4
            9                4
            10               4
            11               4
            12               4
Length: 96, dtype: int64

The `grouped` is a `pandas.DataFrameGroupBy` object that we can't "see" the way we would with a regular dataframe but we can apply functions to it

In [85]:
def get_384_column_number(ninety_six_column_number, verbose=False):
    original_index = ninety_six_column_number.index
    
    # This is operated on the whole mini-dataframe column number which 
    # is by definition the same since we made mini-dataframes with groupby()
    # So we just need to extract the first one, aka the 0th index
    ninety_six_column_number = ninety_six_column_number.iloc[0]
    
    column_i = ninety_six_column_number * 2 - 1
    new_column_numbers = list(range(column_i, column_i+2))
    reordered_column_numbers = new_column_numbers + new_column_numbers
    if verbose:
        print(f"converted: {ninety_six_column_number} --> {reordered_column_numbers}")
    return pd.Series(reordered_column_numbers)

grouped['column_number'].apply(get_384_column_number, verbose=True).head()

converted: 1 --> [1, 2, 1, 2]
converted: 2 --> [3, 4, 3, 4]
converted: 3 --> [5, 6, 5, 6]
converted: 4 --> [7, 8, 7, 8]
converted: 5 --> [9, 10, 9, 10]
converted: 6 --> [11, 12, 11, 12]
converted: 7 --> [13, 14, 13, 14]
converted: 8 --> [15, 16, 15, 16]
converted: 9 --> [17, 18, 17, 18]
converted: 10 --> [19, 20, 19, 20]
converted: 11 --> [21, 22, 21, 22]
converted: 12 --> [23, 24, 23, 24]
converted: 1 --> [1, 2, 1, 2]
converted: 2 --> [3, 4, 3, 4]
converted: 3 --> [5, 6, 5, 6]
converted: 4 --> [7, 8, 7, 8]
converted: 5 --> [9, 10, 9, 10]
converted: 6 --> [11, 12, 11, 12]
converted: 7 --> [13, 14, 13, 14]
converted: 8 --> [15, 16, 15, 16]
converted: 9 --> [17, 18, 17, 18]
converted: 10 --> [19, 20, 19, 20]
converted: 11 --> [21, 22, 21, 22]
converted: 12 --> [23, 24, 23, 24]
converted: 1 --> [1, 2, 1, 2]
converted: 2 --> [3, 4, 3, 4]
converted: 3 --> [5, 6, 5, 6]
converted: 4 --> [7, 8, 7, 8]
converted: 5 --> [9, 10, 9, 10]
converted: 6 --> [11, 12, 11, 12]
converted: 7 --> [13, 14, 13, 14]
converted: 8 --> [15, 16, 15, 16]
converted: 9 --> [17, 18, 17, 18]
converted: 10 --> [19, 20, 19, 20]
converted: 11 --> [21, 22, 21, 22]
converted: 12 --> [23, 24, 23, 24]
converted: 1 --> [1, 2, 1, 2]
converted: 2 --> [3, 4, 3, 4]
converted: 3 --> [5, 6, 5, 6]
converted: 4 --> [7, 8, 7, 8]
converted: 5 --> [9, 10, 9, 10]
converted: 6 --> [11, 12, 11, 12]
converted: 7 --> [13, 14, 13, 14]
converted: 8 --> [15, 16, 15, 16]
converted: 9 --> [17, 18, 17, 18]
converted: 10 --> [19, 20, 19, 20]
converted: 11 --> [21, 22, 21, 22]
converted: 12 --> [23, 24, 23, 24]
converted: 1 --> [1, 2, 1, 2]
converted: 2 --> [3, 4, 3, 4]
converted: 3 --> [5, 6, 5, 6]
converted: 4 --> [7, 8, 7, 8]
converted: 5 --> [9, 10, 9, 10]
converted: 6 --> [11, 12, 11, 12]
converted: 7 --> [13, 14, 13, 14]
converted: 8 --> [15, 16, 15, 16]
converted: 9 --> [17, 18, 17, 18]
converted: 10 --> [19, 20, 19, 20]
converted: 11 --> [21, 22, 21, 22]
converted: 12 --> [23, 24, 23, 24]
converted: 1 --> [1, 2, 1, 2]
converted: 2 --> [3, 4, 3, 4]
converted: 3 --> [5, 6, 5, 6]
converted: 4 --> [7, 8, 7, 8]
converted: 5 --> [9, 10, 9, 10]
converted: 6 --> [11, 12, 11, 12]
converted: 7 --> [13, 14, 13, 14]
converted: 8 --> [15, 16, 15, 16]
converted: 9 --> [17, 18, 17, 18]
converted: 10 --> [19, 20, 19, 20]
converted: 11 --> [21, 22, 21, 22]
converted: 12 --> [23, 24, 23, 24]
converted: 1 --> [1, 2, 1, 2]
converted: 2 --> [3, 4, 3, 4]
converted: 3 --> [5, 6, 5, 6]
converted: 4 --> [7, 8, 7, 8]
converted: 5 --> [9, 10, 9, 10]
converted: 6 --> [11, 12, 11, 12]
converted: 7 --> [13, 14, 13, 14]
converted: 8 --> [15, 16, 15, 16]
converted: 9 --> [17, 18, 17, 18]
converted: 10 --> [19, 20, 19, 20]
converted: 11 --> [21, 22, 21, 22]
converted: 12 --> [23, 24, 23, 24]
converted: 1 --> [1, 2, 1, 2]
converted: 2 --> [3, 4, 3, 4]
converted: 3 --> [5, 6, 5, 6]
converted: 4 --> [7, 8, 7, 8]
converted: 5 --> [9, 10, 9, 10]
converted: 6 --> [11, 12, 11, 12]
converted: 7 --> [13, 14, 13, 14]
converted: 8 --> [15, 16, 15, 16]
converted: 9 --> [17, 18, 17, 18]
converted: 10 --> [19, 20, 19, 20]
converted: 11 --> [21, 22, 21, 22]
converted: 12 --> [23, 24, 23, 24]

row_letter  column_number
A           1              0    1
                           1    2
                           2    1
                           3    2
            2              0    3
Name: column_number, dtype: int64

In [86]:

def get_384_row_letter(ninety_six_row_letter, verbose=False):
    # This is operated on the whole mini-dataframe row number which 
    # is by definition the same since we made mini-dataframes with groupby()
    # So we just need to extract the first one, aka the 0th index
    ninety_six_row_letter = ninety_six_row_letter.iloc[0]
    row_i = string.ascii_uppercase.index(ninety_six_row_letter)
    
    new_row_letters = string.ascii_uppercase[row_i*2:(row_i*2+2)]
    reordered_row_letters = [new_row_letters[int(i/2)] for i in range(4)]
    if verbose:
        print(f"converted: {ninety_six_row_letter} --> {reordered_row_letters}")
    return pd.Series(reordered_row_letters)
    
grouped['row_letter'].apply(get_384_row_letter, verbose=True).head()

converted: A --> ['A', 'A', 'B', 'B']
converted: A --> ['A', 'A', 'B', 'B']
converted: A --> ['A', 'A', 'B', 'B']
converted: A --> ['A', 'A', 'B', 'B']
converted: A --> ['A', 'A', 'B', 'B']
converted: A --> ['A', 'A', 'B', 'B']
converted: A --> ['A', 'A', 'B', 'B']
converted: A --> ['A', 'A', 'B', 'B']
converted: A --> ['A', 'A', 'B', 'B']
converted: A --> ['A', 'A', 'B', 'B']
converted: A --> ['A', 'A', 'B', 'B']
converted: A --> ['A', 'A', 'B', 'B']
converted: B --> ['C', 'C', 'D', 'D']
converted: B --> ['C', 'C', 'D', 'D']
converted: B --> ['C', 'C', 'D', 'D']
converted: B --> ['C', 'C', 'D', 'D']
converted: B --> ['C', 'C', 'D', 'D']
converted: B --> ['C', 'C', 'D', 'D']
converted: B --> ['C', 'C', 'D', 'D']
converted: B --> ['C', 'C', 'D', 'D']
converted: B --> ['C', 'C', 'D', 'D']
converted: B --> ['C', 'C', 'D', 'D']
converted: B --> ['C', 'C', 'D', 'D']
converted: B --> ['C', 'C', 'D', 'D']
converted: C --> ['E', 'E', 'F', 'F']
converted: C --> ['E', 'E', 'F', 'F']
converted: C --> ['E', 'E', 'F', 'F']
converted: C --> ['E', 'E', 'F', 'F']
converted: C --> ['E', 'E', 'F', 'F']
converted: C --> ['E', 'E', 'F', 'F']
converted: C --> ['E', 'E', 'F', 'F']
converted: C --> ['E', 'E', 'F', 'F']
converted: C --> ['E', 'E', 'F', 'F']
converted: C --> ['E', 'E', 'F', 'F']
converted: C --> ['E', 'E', 'F', 'F']
converted: C --> ['E', 'E', 'F', 'F']
converted: D --> ['G', 'G', 'H', 'H']
converted: D --> ['G', 'G', 'H', 'H']
converted: D --> ['G', 'G', 'H', 'H']
converted: D --> ['G', 'G', 'H', 'H']
converted: D --> ['G', 'G', 'H', 'H']
converted: D --> ['G', 'G', 'H', 'H']
converted: D --> ['G', 'G', 'H', 'H']
converted: D --> ['G', 'G', 'H', 'H']
converted: D --> ['G', 'G', 'H', 'H']
converted: D --> ['G', 'G', 'H', 'H']
converted: D --> ['G', 'G', 'H', 'H']
converted: D --> ['G', 'G', 'H', 'H']
converted: E --> ['I', 'I', 'J', 'J']
converted: E --> ['I', 'I', 'J', 'J']
converted: E --> ['I', 'I', 'J', 'J']
converted: E --> ['I', 'I', 'J', 'J']
converted: E --> ['I', 'I', 'J', 'J']
converted: E --> ['I', 'I', 'J', 'J']
converted: E --> ['I', 'I', 'J', 'J']
converted: E --> ['I', 'I', 'J', 'J']
converted: E --> ['I', 'I', 'J', 'J']
converted: E --> ['I', 'I', 'J', 'J']
converted: E --> ['I', 'I', 'J', 'J']
converted: E --> ['I', 'I', 'J', 'J']
converted: F --> ['K', 'K', 'L', 'L']
converted: F --> ['K', 'K', 'L', 'L']
converted: F --> ['K', 'K', 'L', 'L']
converted: F --> ['K', 'K', 'L', 'L']
converted: F --> ['K', 'K', 'L', 'L']
converted: F --> ['K', 'K', 'L', 'L']
converted: F --> ['K', 'K', 'L', 'L']
converted: F --> ['K', 'K', 'L', 'L']
converted: F --> ['K', 'K', 'L', 'L']
converted: F --> ['K', 'K', 'L', 'L']
converted: F --> ['K', 'K', 'L', 'L']
converted: F --> ['K', 'K', 'L', 'L']
converted: G --> ['M', 'M', 'N', 'N']
converted: G --> ['M', 'M', 'N', 'N']
converted: G --> ['M', 'M', 'N', 'N']
converted: G --> ['M', 'M', 'N', 'N']
converted: G --> ['M', 'M', 'N', 'N']
converted: G --> ['M', 'M', 'N', 'N']
converted: G --> ['M', 'M', 'N', 'N']
converted: G --> ['M', 'M', 'N', 'N']
converted: G --> ['M', 'M', 'N', 'N']
converted: G --> ['M', 'M', 'N', 'N']
converted: G --> ['M', 'M', 'N', 'N']
converted: G --> ['M', 'M', 'N', 'N']
converted: H --> ['O', 'O', 'P', 'P']
converted: H --> ['O', 'O', 'P', 'P']
converted: H --> ['O', 'O', 'P', 'P']
converted: H --> ['O', 'O', 'P', 'P']
converted: H --> ['O', 'O', 'P', 'P']
converted: H --> ['O', 'O', 'P', 'P']
converted: H --> ['O', 'O', 'P', 'P']
converted: H --> ['O', 'O', 'P', 'P']
converted: H --> ['O', 'O', 'P', 'P']
converted: H --> ['O', 'O', 'P', 'P']
converted: H --> ['O', 'O', 'P', 'P']
converted: H --> ['O', 'O', 'P', 'P']

row_letter  column_number
A           1              0    A
                           1    A
                           2    B
                           3    B
            2              0    A
Name: row_letter, dtype: object

In [87]:
tidy_plates['three_eighty_four_row_letter'] = grouped['row_letter'].apply(get_384_row_letter).values
tidy_plates['three_eighty_four_column_number'] = grouped['column_number'].apply(get_384_column_number).values
tidy_plates.head()

,column_number,row_letter,plate_value,plate_value_letter_number,three_eighty_four_row_letter,three_eighty_four_column_number
0,1,A,plate1,plate1_A01,A,1
96,1,A,plate2,plate2_A01,A,2
192,1,A,plate3,plate3_A01,B,1
288,1,A,plate4,plate4_A01,B,2
8,2,A,plate1,plate1_A02,A,3

## make the mega 384-well plate from pivoting the four 96 well plates with the new indices

In [88]:
mega_384_plate = tidy_plates.pivot(index='three_eighty_four_row_letter', 
                               columns='three_eighty_four_column_number', 
                               values='plate_value_letter_number')
mega_384_plate

three_eighty_four_column_number,1,2,3,4,5,6,7,8,9,10,...,15,16,17,18,19,20,21,22,23,24
three_eighty_four_row_letter,,,,,,,,,,,,,,,,,,,,,
A,plate1_A01,plate2_A01,plate1_A02,plate2_A02,plate1_A03,plate2_A03,plate1_A04,plate2_A04,plate1_A05,plate2_A05,...,plate1_A08,plate2_A08,plate1_A09,plate2_A09,plate1_A10,plate2_A10,plate1_A11,plate2_A11,plate1_A12,plate2_A12
B,plate3_A01,plate4_A01,plate3_A02,plate4_A02,plate3_A03,plate4_A03,plate3_A04,plate4_A04,plate3_A05,plate4_A05,...,plate3_A08,plate4_A08,plate3_A09,plate4_A09,plate3_A10,plate4_A10,plate3_A11,plate4_A11,plate3_A12,plate4_A12
C,plate1_B01,plate2_B01,plate1_B02,plate2_B02,plate1_B03,plate2_B03,plate1_B04,plate2_B04,plate1_B05,plate2_B05,...,plate1_B08,plate2_B08,plate1_B09,plate2_B09,plate1_B10,plate2_B10,plate1_B11,plate2_B11,plate1_B12,plate2_B12
D,plate3_B01,plate4_B01,plate3_B02,plate4_B02,plate3_B03,plate4_B03,plate3_B04,plate4_B04,plate3_B05,plate4_B05,...,plate3_B08,plate4_B08,plate3_B09,plate4_B09,plate3_B10,plate4_B10,plate3_B11,plate4_B11,plate3_B12,plate4_B12
E,plate1_C01,plate2_C01,plate1_C02,plate2_C02,plate1_C03,plate2_C03,plate1_C04,plate2_C04,plate1_C05,plate2_C05,...,plate1_C08,plate2_C08,plate1_C09,plate2_C09,plate1_C10,plate2_C10,plate1_C11,plate2_C11,plate1_C12,plate2_C12
F,plate3_C01,plate4_C01,plate3_C02,plate4_C02,plate3_C03,plate4_C03,plate3_C04,plate4_C04,plate3_C05,plate4_C05,...,plate3_C08,plate4_C08,plate3_C09,plate4_C09,plate3_C10,plate4_C10,plate3_C11,plate4_C11,plate3_C12,plate4_C12
G,plate1_D01,plate2_D01,plate1_D02,plate2_D02,plate1_D03,plate2_D03,plate1_D04,plate2_D04,plate1_D05,plate2_D05,...,plate1_D08,plate2_D08,plate1_D09,plate2_D09,plate1_D10,plate2_D10,plate1_D11,plate2_D11,plate1_D12,plate2_D12
H,plate3_D01,plate4_D01,plate3_D02,plate4_D02,plate3_D03,plate4_D03,plate3_D04,plate4_D04,plate3_D05,plate4_D05,...,plate3_D08,plate4_D08,plate3_D09,plate4_D09,plate3_D10,plate4_D10,plate3_D11,plate4_D11,plate3_D12,plate4_D12
I,plate1_E01,plate2_E01,plate1_E02,plate2_E02,plate1_E03,plate2_E03,plate1_E04,plate2_E04,plate1_E05,plate2_E05,...,plate1_E08,plate2_E08,plate1_E09,plate2_E09,plate1_E10,plate2_E10,plate1_E11,plate2_E11,plate1_E12,plate2_E12
J,plate3_E01,plate4_E01,plate3_E02,plate4_E02,plate3_E03,plate4_E03,plate3_E04,plate4_E04,plate3_E05,plate4_E05,...,plate3_E08,plate4_E08,plate3_E09,plate4_E09,plate3_E10,plate4_E10,plate3_E11,plate4_E11,plate3_E12,plate4_E12
K,plate1_F01,plate2_F01,plate1_F02,plate2_F02,plate1_F03,plate2_F03,plate1_F04,plate2_F04,plate1_F05,plate2_F05,...,plate1_F08,plate2_F08,plate1_F09,plate2_F09,plate1_F10,plate2_F10,plate1_F11,plate2_F11,plate1_F12,plate2_F12
L,plate3_F01,plate4_F01,plate3_F02,plate4_F02,plate3_F03,plate4_F03,plate3_F04,plate4_F04,plate3_F05,plate4_F05,...,plate3_F08,plate4_F08,plate3_F09,plate4_F09,plate3_F10,plate4_F10,plate3_F11,plate4_F11,plate3_F12,plate4_F12
M,plate1_G01,plate2_G01,plate1_G02,plate2_G02,plate1_G03,plate2_G03,plate1_G04,plate2_G04,plate1_G05,plate2_G05,...,plate1_G08,plate2_G08,plate1_G09,plate2_G09,plate1_G10,plate2_G10,plate1_G11,plate2_G11,plate1_G12,plate2_G12
N,plate3_G01,plate4_G01,plate3_G02,plate4_G02,plate3_G03,plate4_G03,plate3_G04,plate4_G04,plate3_G05,plate4_G05,...,plate3_G08,plate4_G08,plate3_G09,plate4_G09,plate3_G10,plate4_G10,plate3_G11,plate4_G11,plate3_G12,plate4_G12
O,plate1_H01,plate2_H01,plate1_H02,plate2_H02,plate1_H03,plate2_H03,plate1_H04,plate2_H04,plate1_H05,plate2_H05,...,plate1_H08,plate2_H08,plate1_H09,plate2_H09,plate1_H10,plate2_H10,plate1_H11,plate2_H11,plate1_H12,plate2_H12
P,plate3_H01,plate4_H01,plate3_H02,plate4_H02,plate3_H03,plate4_H03,plate3_H04,plate4_H04,plate3_H05,plate4_H05,...,plate3_H08,plate4_H08,plate3_H09,plate4_H09,plate3_H10,plate4_H10,plate3_H11,plate4_H11,plate3_H12,plate4_H12

Check one row letter and column number from the 96 well plate into the 384 well plate

In [96]:
tidy_plates.query("row_letter == 'E' & column_number == 5")

,column_number,row_letter,plate_value,plate_value_letter_number,three_eighty_four_row_letter,three_eighty_four_column_number
36,5,E,plate1,plate1_E05,I,9
132,5,E,plate2,plate2_E05,I,10
228,5,E,plate3,plate3_E05,J,9
324,5,E,plate4,plate4_E05,J,10